@model WebApplication1.Models.TblTipoCentro

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Confirma que desea borrar?</h3>
<div>
    <h4>Tipo de Centros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCentro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCentro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoCentro" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
