@model WebApplication1.Models.TblTipoCentro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tipo de Centros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCentro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCentro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipoCentro">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
