@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Guia Médica</h1>
    <p>Acceda a la mas completa red de medicos del pais</p>
</div>
<div class="text-center">
    <h2 class="display-4">Buscar por Especialidades</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Contenido de la primera columna -->
        <h3><img src="~/images/especialidades/image0.png" class="rounded-circle img-fluid" /></h3>
        <p>Gastro.</p>
    </div>
    <div class="col-md-4">
        <!-- Contenido de la segunda columna -->
        <h3><img src="~/images/especialidades/image1.png" class="rounded-circle img-fluid" /></h3>
        <p>Neumo.</p>
    </div>
    <div class="col-md-4">
        <!-- Contenido de la tercera columna -->
        <h3><img src="~/images/especialidades/image2.png" class="rounded-circle img-fluid" /></h3>
        <p>Interna.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Contenido de la primera columna -->
        <h3><img src="~/images/especialidades/image3.png" class="rounded-circle img-fluid" /></h3>
        <p>Cardio.</p>
    </div>
    <div class="col-md-4">
        <!-- Contenido de la segunda columna -->
        <h3><img src="~/images/especialidades/image4.png" class="rounded-circle img-fluid" /></h3>
        <p>Interna.</p>
    </div>
    <div class="col-md-4">
        <!-- Contenido de la tercera columna -->
        <h3><img src="~/images/especialidades/image5.png" class="rounded-circle img-fluid" /></h3>
        <p>Analitica.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Contenido de la primera columna -->
        <h3><img src="~/images/especialidades/image6.png" class="rounded-circle img-fluid" /></h3>
        <p>Trauma.</p>
    </div>
    <div class="col-md-4">
        <!-- Contenido de la segunda columna -->
        <h3><img src="~/images/especialidades/image7.png" class="rounded-circle img-fluid" /></h3>
        <p>Pediatria.</p>
    </div>

</div>